{% extends 'base.html' %}

{% block title %}Fan-ID{% endblock %}

{% block content %}
<main class="max-w-7xl mx-auto p-4">
    <div class="bg-white rounded-lg shadow-lg p-6">
        <h1 class="text-3xl font-bold mb-6 text-center">Fan ID: основная информация о Карте болельщика</h1>
        <p class="text-gray-600 mb-6 text-justify">
            В России начали действовать новые правила посещения некоторых спортивных мероприятий. Теперь для того, чтобы наслаждаться футболом прямо с трибун, потребуется оформить Карту болельщика. Мы собрали главные вопросы о данном документе и постарались подробно ответить на них.
        </p>
        <h2 class="text-2xl font-bold mb-4 mt-8 text-center">Общая информация о документе</h2>
        <p class="text-gray-600 mb-4 text-justify">
            Карта болельщика (второе её название – Fan ID) – это специальный документ, который даёт право посещать спортивные мероприятия. На данный момент он необходим на матчах РПЛ и в финале Кубка России. Если же не оформить Фан АйДи, то у вас просто не получится купить билет и пройти на стадион.
        </p>
        <p class="text-gray-600 mb-4 text-justify">
            Карта необходима абсолютно всем, кто планирует находиться на арене в день игры: фанатам, организаторам, работникам арены, и даже игрокам и тренеру. Несовершеннолетние дети также обязаны иметь Карту болельщика.
        </p>
        <p class="text-gray-600 mb-4 text-justify">
            Отметим, что иностранные граждане также должны оформлять Фан АйДи. Таким образом, если в наш чемпионат перейдут Лионель Месси, Эрлинг Холланн или Киллиан Мбаппе, то они также будут обязаны получить Карту болельщика.
        </p>
        <p class="text-gray-600 mb-4 text-justify">
            «Паспорт болельщика» старого образца представлен в виде пластикового бейджа, на котором указана вся необходимая информация о пользователе. Новая же «Карта» не имеет физического носителя и хранится исключительно в электронном варианте в личном кабинете на Госуслугах. Таким образом, вы точно её не потеряете, что могло случиться с пластиковым «Паспортом болельщика», который действовал на ЧМ-2018 и ЕВРО-2020.
        </p>
        <h2 class="text-2xl font-bold mb-4 mt-8 text-center">Правила оформления</h2>
        <p class="text-gray-600 mb-4 text-justify">
            Зарегистрировать Fan ID можно несколькими способами. Причём оформление доступно как офлайн, так и онлайн. Но в любом случае необходимо иметь учётную запись на портале Госуслуг.
        </p>
        <p class="text-gray-600 mb-4 text-justify">
            Сейчас мы подробно распишем 4 способа регистрации Карты болельщика. Вы подробно ознакомитесь с каждым из них и выберите для себя наиболее удобный.
        </p>
        <h3 class="text-xl font-semibold mt-6 mb-2">Через Госуслуги</h3>
            <ol class="list-decimal list-inside text-gray-600 mb-4 text-justify">
                <li>Откройте портал Госуслуг.</li>
                <li>Войдите в свой личный кабинет.</li>
                <li>Кликните «Карта болельщика».</li>
                <li>Введите все необходимые данные. Если они подгрузились автоматически, то проверьте их правильность.</li>
                <li>Загрузите свою фотографию.</li>
            </ol>
        <p class="text-gray-600 mb-4 text-justify">
            После этого отправьте заявку и дождитесь приглашения посетить МФЦ для подтверждения личности. Это может занять от нескольких часов до 3 дней. Когда пойдёте в МФЦ, не забудьте взять паспорт. Сотрудник перепроверит всю информацию и как только заявка получит одобрение, Карта болельщика появится в вашем личном кабинете на Госуслугах.
        </p>
        <h3 class="text-xl font-semibold mt-6 mb-2">В МФЦ</h3>
        <p class="text-gray-600 mb-4 text-justify">
            Некоторые любители футбола не имеют возможности оформить предварительную заявку на Госуслугах. Например, сломался смартфон или возникли трудности с интернетом. Но не стоит переживать, т.к. оформить Карту болельщика можно сразу в МФЦ. Как и в предыдущем пункте, вам необходимо взять с собой паспорт. Сотрудник создаст заявку и сфотографирует вас.
        </p>
        <p class="text-gray-600 mb-4 text-justify">
            Как только ваша заявка будет оформлена, Карта болельщика будет отображаться в вашем личном кабинете Госуслуг.
        </p>
        <h3 class="text-xl font-semibold mt-6 mb-2">По биометрии</h3>
        <p class="text-gray-600 mb-4 text-justify">
            В 2023 году было запущено приложение, которое позволяет оформить Карту болельщика полностью онлайн и без посещения МФЦ. Оно получило название «Госуслуги. Биометрия», а регистрация происходит через Единую биометрическую систему (ЕБС).
        </p>
        <p class="text-gray-600 mb-4 text-justify">
            Вам потребуется заполнить стандартную анкету, указав все свои данные. После этого необходимо записать голосовое сообщение и сфотографироваться. Очень важно, чтобы на фоне не было посторонних шумов, а на вас – никаких аксессуаров, например, очков. Отправьте заявление и через некоторое время Карта болельщика отобразится в вашем экране.
        </p>
        <h3 class="text-xl font-semibold mt-6 mb-2">По загранпаспорту</h3>
            <ol class="list-decimal list-inside text-gray-600 mb-4 text-justify">
                <li>Скачайте и установите приложение «Госуслуги. Карта болельщика».</li>
                <li>Запустите его.</li>
                <li>Кликните «Оформить Карту болельщика», а дальше – «На себя».</li>
                <li>Введите требуемые данные: фамилию, имя и отчество, номер телефона, e-mail.</li>
                <li>Загрузите фото.</li>
                <li>Откройте загранпаспорт на пластиковой странице и просканируйте его с помощью смартфона.</li>
                <li>Отправьте заявку.</li>
            </ol>
        <p class="text-gray-600 mb-4 text-justify">
            Поздравляем! Теперь у вас есть Карта болельщика и вы можете посещать матч РПЛ.
        </p>
        <h2 class="text-2xl font-bold mb-4 mt-8 text-center">Как оформить Карту болельщика детям?</h2>
        <p class="text-gray-600 mb-4 text-justify">
            Карта болельщика должна быть у всех, кто планирует быть на стадионе в день игры, в том числе и у детей до 14 лет. Но т.к. у них нет паспорта и учётной записи на Госуслугах, оформлением Fan ID занимаются родители или официальные представители (если у них есть доверенность).
        </p>
            <ol class="list-decimal list-inside text-gray-600 mb-4 text-justify">
                <li>Откройте личный кабинет «Госуслуг».</li>
                <li>Нажмите «Оформить Карту болельщика на себя и детей до 14 лет».</li>
                <li>Заполните все необходимые графы анкеты. Указывать любимый клуб необязательно. Но добавив этот пункт, вы будете получать уведомления об акциях и предложениях от любимой команды.</li>
                <li>Загрузите фото ребёнка.</li>
            </ol>
        <p class="text-gray-600 mb-4 text-justify">
            После проверки данных вам придёт приглашение посетить МФЦ. При этом личное присутствие ребёнка не требуется, т.к. вы загрузили его фото. В таком случае достаточно взять свидетельство о рождении ребёнка и свой паспорт.
        </p>
        <p class="text-gray-600 mb-4 text-justify">
            Как только Минспорта проверит всю информацию, Карта болельщика ребёнка появится в вашем личном кабинете Госуслуг.
        </p>
        <h2 class="text-2xl font-bold mb-4 mt-8 text-center">Как оформить Карту болельщика иностранцу?</h2>
        <p class="text-gray-600 mb-4 text-justify">
            Иностранные граждане также обязаны оформлять Фан АйДи. Однако сделать это без учётной записи на Госуслугах не получится. Поэтому предварительно необходимо зарегистрироваться на портале.
        </p>
        <p class="text-gray-600 mb-4 text-justify">
            Откройте сайт Госуслуг, выберите «Другой способ регистрации» и заполните анкету. Очень важно заполнять ФИО исключительно латинскими буквами как указано в паспорте. Например, имя Евгений в белорусской транскрипции пишется как YAUHENI – так и необходимо записывать в анкете.
        </p>
        <p class="text-gray-600 mb-4 text-justify">
            На завершающем этапе укажите свой e-mail и российский номер телефона (если он у вас есть). После этого вам на электронную почту придёт письмо, в которой содержится ссылка. Перейдя по ней, вы завершите регистрацию на портале, после чего можно приступать к оформлению Карты болельщика.
        </p>
        <h2 class="text-2xl font-bold mb-4 mt-8 text-center">Могут ли отказать в выдаче Карты болельщика?</h2>
        <p class="text-gray-600 mb-4 text-justify">
            Министерство спорта может отказать в выдаче Карты болельщика. Например, если вы уже нарушали порядок на стадионе, либо у ФСБ или у других ведомств есть информация, что вы можете нарушить закон при проведении спортивного мероприятия. Если вы не согласны с данным решением, то его можно оспорить в суде, или направив соответствующее письмо в Министерство спорта России.
        </p>
        <h2 class="text-2xl font-bold mb-4 mt-8 text-center">Заключение</h2>
        <p class="text-gray-600 mb-4 text-justify">
            Теперь у вас есть вся необходимая информация о регистрации Карты болельщика. Можете оформлять её и отправляться на футбол, ведь только личное присутствие на трибунах подарит вам истинное наслаждение от игры и позволит стать частью большой спортивной истории нашей страны.
        </p>
    </div>
    <div>
        <a href="/" class="cta-button" style="display: block; width: fit-content; margin: 0 auto; margin-top: 20px;">На главную ></a>
    </div>
</main>
{% endblock %}