{% extends "base.html" %}
{% block title %}Страница не найдена{% endblock %}
{% block head %}
    <script>
        window.onload = notFoundOnLoad;
    </script>
{% endblock %}

{% block content %}
    <main class="max-w-7xl mx-auto p-4 text-center">
        <img src="/static/image/404.png" loading="lazy" oncontextmenu="return false;">
        <h1 class="text-3xl font-bold mb-6">Страница не найдена</h1>
        <p class="text-gray-600 mb-6">К сожалению, такой страницы не существует. Но у нас много интересных матчей!</p>
        <a href="/matches" class="cta-button">Перейти к матчам</a>
    </main>
{% endblock %}