{% extends 'base.html' %}

{% block title %}О стадионе{% endblock %}

{% block head %}
    <style>
        .hero-section {
            background-image: url('/static/image/stadium.jpg');
        }
    </style>
    <script>
        window.onload = function() {
            updateCartCount();
        };
    </script>
{% endblock %}

{% block content %}
    <section class="hero-section mb-8">
        <div>
            <h1>О стадионе "Ozon Арена"</h1>
            <p class="mb-6">Покупайте билеты на матчи и поддерживайте свою команду!</p>
        </div>
    </section>
    <main class="max-w-7xl mx-auto p-4">
        <h2 class="text-2xl font-bold mb-4 text-center">Современный дом ФК «Краснодар»</h2>
        <div class="bg-white rounded-lg shadow-lg p-4">
            <div>
                <p class="text-gray-600 mb-4 text-justify">
                    Открыт доступ всем билетам на матчи ФК «Краснодар» на нашем сайте. Спешите, количество мест ограничено!
                    Футбольный клуб «Краснодар» основан в 2008 году. В дебютный сезон команда начала выступать в Первенстве России во второй лиге и с тех пор прошла путь до одного из лидеров российского футбола. В сезоне 2015/2016 клуб дебютировал в еврокубках, дойдя до 1/8 финала Лиги Европы.
                </p>
            </div>
        </div>
    </main>
{% endblock %}