{% extends 'base.html' %}

{% block title %}О стадионе{% endblock %}

{% block head %}
    <style>
        .hero-section {
            background-image: url('/static/image/stadium.jpg');
            background-size: cover;
            background-position: center;
            height: 600px;
            display: flex;
            justify-content: center;
            color: white;
            text-align: center;
            position: relative; /* Необходимо для позиционирования ::before */
            padding: 6rem 1rem;
        }
        .hero-section::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.3));
            z-index: 1;
        }
        .hero-section > div {
            position: relative;
            z-index: 2; /* Контент поверх затемнения */
        }
        .hero-section h1 {
            font-size: 3rem;
            font-weight: bold;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            color: white;
        }
        .hero-section p {
            font-size: 1.5rem;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
            color: #d1fae5;
            font-weight:bold;
        }
    </style>
    <script src="/static/js/utils.js"></script>
    <script>
        window.onload = function() {
            updateCartCount();
        };
    </script>
{% endblock %}

{% block content %}
    <section class="hero-section mb-8">
        <div>
            <h1>О стадионе "Ozon Арена"</h1>
            <p class="mb-6">Покупайте билеты на матчи и поддерживайте свою команду!</p>
        </div>
    </section>
    <main class="max-w-7xl mx-auto p-4">
        <h2 class="text-2xl font-bold mb-4 text-center">Современный дом ФК «Краснодар»</h2>
        <div class="bg-white rounded-lg shadow-lg p-4">
            <div>
                <p class="text-gray-600 mb-4 text-justify">
                    Открыт доступ всем билетам на матчи ФК «Краснодар» на нашем сайте. Спешите, количество мест ограничено!
                    Футбольный клуб «Краснодар» основан в 2008 году. В дебютный сезон команда начала выступать в Первенстве России во второй лиге и с тех пор прошла путь до одного из лидеров российского футбола. В сезоне 2015/2016 клуб дебютировал в еврокубках, дойдя до 1/8 финала Лиги Европы.
                </p>
            </div>
        </div>
    </main>
{% endblock %}