{% extends 'base.html' %}

{% block title %}Стадион{% endblock %}

{% block head %}
    <style>
        .hero-section {
            background-image: url('/static/image/stadium.jpg');
        }
        .stadium-image {
            width: 1280px;
            height: 500px;
            object-fit: cover;
            object-position: center;
        }
    </style>
    <script>
        window.onload = function() {
            updateCartCount();
        };
    </script>
{% endblock %}

{% block content %}
    <section class="hero-section mb-8">
        <div>
            <h1>О стадионе "Ozon Арена"</h1>
            <p class="mb-6">Покупайте билеты на матчи и поддерживайте свою команду!</p>
        </div>
    </section>
    <main class="max-w-7xl mx-auto p-4">
        <h2 class="text-2xl font-bold mb-4 text-center">Современный дом ФК «Краснодар»</h2>
        <div class="bg-white rounded-lg shadow-lg p-4">
            <div>
                <p class="text-gray-600 mb-4 text-justify">
                    Футбольный клуб «Краснодар» основан в 2008 году. В дебютный сезон команда начала выступать в Первенстве России во второй лиге и с тех пор прошла путь до одного из лидеров российского футбола. В сезоне 2015/2016 клуб дебютировал в еврокубках, дойдя до 1/8 финала Лиги Европы.
                </p>
                <h3 class="text-xl font-semibold mt-6 mb-2 text-center">Вместимость и инфраструктура</h3>
                <p class="text-gray-600 mb-4 text-justify">
                    Изначально вместимость стадиона составляла около 33 000 мест, однако в 2018–2019 годах она была увеличена до 35 179 зрительских мест, включая 3 561 VIP-место и ложи. При этом существует возможность расширения до 42 700 мест. Все трибуны находятся под крышей особой вантовой конструкции, что обеспечивает комфорт зрителей в любую погоду. Для болельщиков в холодное время года предусмотрена система инфракрасного обогрева трибун. В чаше стадиона установлен гигантский медиаэкран площадью 4700 м², обеспечивающий отличную видимость и трансляцию событий.
                </p>
                <picture>
                    <img src="/static/image/stadium-over.jpg" alt="Общий вид стадиона Ozon Арена" class="stadium-image" loading="lazy">
                </picture>
                <h3 class="text-xl font-semibold mt-6 mb-2 text-center">Технические характеристики</h3>
                <p class="text-gray-600 mb-4 text-justify">
                    Игровое поле размером 105×68 метров оснащено современными технологиями: подогревом, принудительной аэрацией, охлаждением и искусственным освещением газона. Такие решения позволяют поддерживать идеальное состояние поля в любых климатических условиях и проводить матчи высокого уровня. Стадион соответствует высшей, четвёртой категории УЕФА, что позволяет принимать матчи любых международных турниров под эгидой УЕФА и ФИФА.
                </p>
                <h3 class="text-xl font-semibold mt-6 mb-2 text-center">Удобства и безопасность</h3>
                <p class="text-gray-600 mb-4 text-justify">
                    Для обеспечения безопасности и комфорта болельщиков на матчах задействовано до 700 стюардов. Рядом со стадионом расположен просторный парк площадью около 21 гектара, который является частью спортивного комплекса клуба. Вокруг арены оборудованы парковочные места: на территории стадиона - 249 автомобилей, а также большая парковка на 3 тысячи мест, которая используется во время матчей и в остальное время служит жителям микрорайона.
                </p>
                <picture>
                    <img src="/static/image/stadium-overview.jpg" alt="Общий вид стадиона Ozon Арена" class="stadium-image" loading="lazy">
                </picture>
                <h3 class="text-xl font-semibold mt-6 mb-2 text-center">История и значимые события</h3>
                <p class="text-gray-600 mb-4 text-justify">
                    Стадион был открыт 9 октября 2016 года товарищеским матчем сборной России против Коста-Рики. Первый домашний матч ФК «Краснодар» на арене состоялся 20 октября 2016 года в рамках Лиги Европы УЕФА против «Шальке-04». С тех пор «Ozon Арена» принимала матчи чемпионата России, Кубка России, Юношеской лиги УЕФА и Лиги чемпионов УЕФА. В 2018 году здесь был установлен рекорд посещаемости Юношеской лиги УЕФА - 32 510 зрителей. 1 сентября 2018 года стадион принял миллионного посетителя. В августе 2019 года арена дебютировала в Лиге чемпионов УЕФА, что стало важной вехой в истории клуба.
                </p>
                <h3 class="text-xl font-semibold mt-6 mb-2 text-center">Название и партнерство</h3>
                <p class="text-gray-600 mb-4 text-justify">
                    До 1 мая 2025 года стадион носил название «Краснодар». В апреле 2025 года ФК «Краснодар» и компания Ozon подписали соглашение о партнерстве, в рамках которого стадион был переименован в «Ozon Арена» с целью развития бренда и привлечения новых возможностей для клуба.
                </p>
            </div>
        </div>
        <div>
            <p class="text-gray-600 mt-8 text-justify font-semibold">
                Таким образом, «Ozon Арена» — это не просто футбольный стадион, а современный спортивный комплекс с высокотехнологичным оборудованием, комфортной инфраструктурой и уникальной атмосферой, который является гордостью города Краснодара и настоящим домом для болельщиков ФК «Краснодар».
            </p>
        </div>
        <div>
            <a href="/" class="cta-button" style="display: block; width: fit-content; margin: 0 auto; margin-top: 20px;">На главную ></a>
        </div>
    </main>
{% endblock %}