/* Фото на главной index.html, stadium.html, tickets*/
.hero-section {
    background-image: url('/static/image/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    position: relative; /* Необходимо для позиционирования ::before */
    padding: 6rem 1rem;
}
.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.3));
    z-index: 1;
}
.hero-section > div {
    position: relative;
    z-index: 2; /* Контент поверх затемнения */
}
.hero-section h1 {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: white;
}
.hero-section p {
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    color: #d1fae5;
}






/* Всё по карточке мероприятий в index.html и matches.html */
.match-card {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    background-color: white;
    width: 100%;
    max-width: 400px;
}
.match-card:hover {
    transform: translateY(-4px);
}
.match-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.match-date-overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 14px;
}
.match-price-overlay {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #34C759;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 14px;
}
.match-info {
    padding: 20px;
    z-index: 5;
}
.match-teams {
    font-size: 24px;
    font-weight: 700;
    color: #1F2937;
    margin-bottom: 4px;
}
.match-details {
    font-size: 14px;
    color: #6B7280;
    margin-bottom: 12px;
}



/* Купить билет в  index.html и matches.html*/
.buy-button {
    display: block;
    width: 100%;
    background-color: #34C759;
    color: white;
    padding: 12px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s;
}
.buy-button:hover {
    background-color: #2EB648;
}
.buy-button.disabled {
    background-color: #d1d5db;
    cursor: not-allowed;
}
/* блоки в admin-panel и "Наши преимущества + Есть вопросы? Оставьте заявку" в index.html*/
.highlighted-section {
    border: 2px solid #e2e2f2;
    background-color: #e2f2e8;
    border-radius: 8px;
    padding: 16px;
}
