{% extends "base.html" %}
{% block title %}Авторизация{% endblock %}

{% block head %}
    <script>
        window.onload = function() {
            updateCartCount();
        };
    </script>
{% endblock %}

{% block content %}
    <main class="max-w-7xl mx-auto p-4">
        <h2 class="text-3xl font-bold mb-4">Вход в админ-панель</h2>
        {% if error %}
            <p class="text-red-500 mb-4">{{ error }}</p>
        {% endif %}
        <form action="/admin-panel/login" method="post">
            <div class="mb-4">
                <label class="block text-lg font-medium">Логин</label>
                <input type="text" name="username" required class="w-full p-2 border rounded">
            </div>
            <div class="mb-4">
                <label class="block text-lg font-medium">Пароль</label>
                <input type="password" name="password" required class="w-full p-2 border rounded">
            </div>
            <button type="submit" class="cta-button">Войти</button>
        </form>
    </main>
{% endblock %}