{% extends "base.html" %}
{% block title %}{{ match.teams }}{% endblock %}

{% block head %}
    <style>
        .hero-section {
            background-image: url('/static/backgrounds/{{ match.image }}');
            height: 1000px;
            width: 100%;
        }
    </style>
    <script>
        window.matchSectors = {{ match.sectors | tojson | safe }};
        window.matchId = "{{ match.slug }}";
        window.matchDate = "{{ match.date }}";
        window.matchTime = "{{ match.time|default('00:00') }}";
        window.onload = ticketsOnLoad;
    </script>
    <link rel="stylesheet" href="/static/css/tickets.css">
{% endblock %}

{% block content %}
    <section class="hero-section">
    </section>
    <main style="max-width: 1400px; margin-left: auto; margin-right: auto;">
        {% set all_prices = [] %}
        {% for sector in match.sectors %}
            {% for seat in sector.seats %}
                {% if seat.available %}
                    {% set _ = all_prices.append(seat.price) %}
                {% endif %}
            {% endfor %}
        {% endfor %}

        <div class="match-info">
            <div style="position: relative; width: 100%;">
                <div class="header-info">
                    <div class="match-type">⚽ Футбольный матч</div>
                    <div class="location">📍 г. Краснодар, площадка: OZON арена</div>
                    <div class="price-section">
                        <div class="price">Стоимость: <span>От {{ all_prices|min }} ₽</span></div>
                    </div>
                </div>
                <h2>Билеты на <span>{{ match.teams }}</span></h2>
                <p class="date" data-date="{{ match.date }}" data-time="{{ match.time|default('00:00') }}"></p>
                <div class="buy-section">
                    <a class="scroll-button" onclick="scrollToStadiumMap()">Перейти к покупке</a>
                </div>
            </div>
        </div>

        <div class="info-section">
            <div class="info-wrapper">
                <div class="info-container">
                    <div class="info-block">
                        <h3><span class="number">1</span> Как выбрать места?</h3>
                        <p>Свободные места подсвечивы цветом. Выберите сектор, интересующие вас места и нажмите иконку оформления заказа для ввода контактных данных.</p>
                    </div>
                    <div class="info-block">
                        <h3><span class="number">2</span> Как оплатить билеты?</h3>
                        <p>На странице оформления заказа выберите удобный для вас способ оплаты: банковской картой или наличными курьеру при получении билетов.</p>
                    </div>
                    <div class="info-block">
                        <h3><span class="number">3</span> Как получить билеты?</h3>
                        <p>С помощью бесплатной доставки или самовывоза. Для удобства воспользуйтесь электронными билетами, которые придут вам на почту.</p>
                    </div>
                </div>
            </div>
        </div>

        {% include 'stadium_map.html' %} <!--  подгрузка svg стадиона   -->

        <div id="sector-tooltip" class="tooltip">
            <p class="sector-name">Сектор</p>
            <p>Свободных мест: <span id="available-seats">0</span></p>
            <p class="price">Цена: <span id="sector-price">0</span> ₽</p>
        </div>

            <div class="contact-section">
                <div class="contact-text">
                    Если у вас возникли вопросы, звоните по номеру <a href="tel:7(900)777-77-77"> +7(900) 777-77-77</a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}